%p
  Chatting with
  / \#{render 'conversations/participants', conversation: @conversation}
.panel.panel-default
  .panel-heading
  .panel-body
    .messages
      - @messages.each do |message|
        .media
          .col-sm-12= message.profile.full_name
          .col-sm-9= message.body
          .col-sm-3 says at #{message.created_at.strftime("%-d %B %Y, %H:%M:%S")}
           
= form_tag reply_conversation_path(@conversation), method: :post do
  .form-group
    = text_area_tag 'body', nil, cols: 3, class: 'form-control', placeholder: 'Type something...', required: true
  = submit_tag "Send Message", class: 'btn btn-primary'